.App {
  font-family: sans-serif;
  text-align: center;
}
.loader-area {
  display: inline-block;
}
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

.loader {
  width: 100px;
  height: 100px;
  border: 15px solid rgb(122, 114, 114);
  border-top: 15px solid lightblue;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
